
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

a{
  text-decoration: none;
}

.image{
  width: 500px;
  height: auto;
  border-radius: 16px;
}

@media (min-device-width: 360px) and (max-device-width: 812px)  {
            .image{
              width: 300px;
            }
        }
        /* @media (min-width: 280px) and (max-width : 653px){
          .image{
            width: 200px;
          }
      } */

        @media only screen
        and (min-device-width: 768px) and (max-device-width: 1024px)
        and (-webkit-min-device-pixel-ratio: 1) {
          .image{
            width: 300px
          }
      }

.twitter-link{
  display: flex;
  gap: 4px;
}
p{
  color:#402E32
}